-# Locals:
-#   filter_form_id
-#   param_key
-#   select_from
-#   selected_values
-#   id_prefix

%select{ :multiple => true,
         :size     => select_from.size,
         :name     => "#{ param_key }[]",
         :form     => filter_form_id }
  - if selected_values
    - select_from.each do |value|
      %option{ :value    => value,
               :selected => selected_values.include?(value) }
        &= value
  - else
    - select_from.each do |value|
      %option{ :value => value }
        &= value
