-# Locals:
-#   filter_form_id
-#   param_key
-#   collection
-#   name_proc
-#   selected_ids
-#   id_prefix

%select{ :multiple => true,
         :size     => collection.size,
         :name     => "#{ param_key }[]",
         :form     => filter_form_id }
  - if selected_ids
    - collection.each do |object|
      %option{ :value    => object.id,
               :selected => selected_ids.include?(object.id) }
        &= name_proc[object]
  - else
    - collection.each do |object|
      %option{ :value => object.id }
        &= name_proc[object]
