-# Locals:
-#   filter_form_id
-#   selected_values
-#   param_key
-#   id_prefix
-#   autofocus

%input{ :type         => :search,
        :name         => param_key,
        :value        => selected_values,
        :form         => filter_form_id,
        :autocomplete => :off,
        :autofocus    => autofocus }
