-# Locals:
-#   params_key_from_hash_key # this is a lambda or a hash
-#   available_formats
-#   current_format
-#   hidden_parameters (optional)

-# Initialize local variables with nil if they do not exist.
- hidden_parameters = hidden_parameters

%form#presentation_choice_form{ :action => "#presentation_choice_form" }
  - if hidden_parameters
    = hidden_fields_from_nested_hash hidden_parameters

  %nav.presentation_choice
    .actions
      %label
        = t 'formats.attribute_name:', :attribute => t('labels.show_as')

      - available_formats.each do |format|
        - title = t(format, :scope => 'show_as')
        - if format == current_format
          %span.pressed_button.present.format.current<>
            = title
        - else
          %button._get_.present.format{ :type  => :submit,
                                        :name  => params_key_from_hash_key[:show_as],
                                        :value => format }<>
            = title
