%article
  -# XXX: had to add `force_encoding` as a workaround for a 'tilt' bug,
    see
      http://stackoverflow.com/questions/10341550/incompatible-character-encoding-in-simple-sinatra-app
    and
      https://github.com/rtomayko/tilt/issues/75
  = markdown(:"/text/#{ @locale }/#{ @page }").force_encoding('utf-8')
