.logos
  - logos_height = '70px'
  %a{ :href => 'http://www.math.univ-toulouse.fr' }<
    %img{ :src    => fixed_url('/images/logo_offi_imt.jpg'),
          :alt    => '',
          :title  => t('names.i_m_t'),
          :height => logos_height }
  %a{ :href => 'http://www.univ-tlse3.fr/' }<
    %img{ :src    => fixed_url('/images/logo_toulouse3.jpg'),
          :alt    => '',
          :title  => t('names.u_p_s'),
          :height => logos_height }
  %a{ :href => 'http://www.cnrs.fr/insmi/' }<
    %img{ :src    => fixed_url('/images/CNRSfilaire-grand.jpg'),
          :alt    => '',
          :title  => 'CNRS',
          :height => logos_height }
  %a{ :href => 'http://www.cimi.univ-toulouse.fr/' }<
    %img{ :src    => fixed_url('/images/logo_cimi.jpg'),
          :alt    => '',
          :title  => 'CIMI',
          :height => logos_height }
  %a{ :href => 'http://tresses.math.cnrs.fr/' }<
    %img{ :src    => fixed_url('/images/logo_tresse.png'),
          :alt    => '',
          :title  => t('names.g_d_r_tresses'),
          :height => logos_height }
  %a{ :href => 'http://gear.math.illinois.edu/' }<
    %img{ :src    => fixed_url('/images/gearlogo.jpg'),
          :alt    => '',
          :title  => 'GEAR',
          :height => logos_height }
  %a{ :href => 'http://www.agence-nationale-recherche.fr/' }<
    %img{ :src    => fixed_url('/images/logo_anr.gif'),
          :alt    => '',
          :title  => 'ANR',
          :height => logos_height }
