- unless organiser_logged_in?
  .logos
    - logos_height = '60px'
    %a{ :href => 'http://www.math.univ-toulouse.fr' }<
      %img.sponsor.logo{ :src    => fixed_url('/images/logo_imt.png'),
                         :alt    => 'IMT logo',
                         :title  => t('names.i_m_t'),
                         :height => logos_height }
    %a{ :href => 'http://www.univ-tlse3.fr/' }<
      %img.sponsor.logo{ :src    => fixed_url('/images/logo_ups.png'),
                         :alt    => 'UPS logo',
                         :title  => t('names.u_p_s'),
                         :height => logos_height }
    %a{ :href => 'http://www.cnrs.fr/insmi/' }<
      %img.sponsor.logo{ :src    => fixed_url('/images/logo_cnrs.png'),
                         :alt    => 'CNRS logo',
                         :title  => 'CNRS',
                         :height => logos_height }
    %a{ :href => 'http://www.cimi.univ-toulouse.fr/' }<
      %img.sponsor.logo{ :src    => fixed_url('/images/logo_cimi.png'),
                         :alt    => 'CIMI logo',
                         :title  => 'CIMI',
                         :height => logos_height }
    %a{ :href => 'http://tresses.math.cnrs.fr/' }<
      %img.sponsor.logo{ :src    => fixed_url('/images/logo_tresses.png'),
                         :alt    => 'Tresses logo',
                         :title  => t('names.g_d_r_tresses'),
                         :height => logos_height }
    %a{ :href => 'http://gear.math.illinois.edu/' }<
      %img.sponsor.logo{ :src    => fixed_url('/images/logo_gear.png'),
                         :alt    => 'GEAR logo',
                         :title  => 'GEAR',
                         :height => logos_height }
    %a{ :href => 'http://www.agence-nationale-recherche.fr/' }<
      %img.sponsor.logo{ :src    => fixed_url('/images/logo_anr.png'),
                         :alt    => 'ANR logo',
                         :title  => 'ANR',
                         :height => logos_height }
    %a{ :href => 'http://www.midipyrenees.fr/' }<
      %img.sponsor.logo{ :src    => fixed_url('/images/logo_rmp.png'),
                         :alt    => 'RMP logo',
                         :title  => 'Région Midi-Pyrénées',
                         :height => logos_height }
