%nav#lang_select
  %ul
    - LOCALES.each do |l|
      %li<>
        - if l == locale
          %span.locale.active<>
            = l.upcase
        - else
          %a.locale{ :href => fixed_url_with_locale("/#{ @page }", l) }<>
            = l.upcase
