%nav#lang_select
  %ul
    - CTT2013::LOCALES.each do |l|
      %li<>
        - if l == locale
          %span.locale.current<>
            = l.upcase
        - else
          %a.locale{ :href => fixed_url_with_locale(request.path_info, l) }<>
            = l.upcase
