%nav.main_menu
  %ul.menu#main_menu{:role => 'tablist'}
    - PUBLIC_PAGES.each do |p|
      - page_title = t(:title, :scope => page_i18n_scope(p))
      - if p == @page
        %li.current{:role => 'tab'}>
          %span
            = page_title
      - else
        %li{:role => 'tab'}>
          %a{:href => fixed_url_with_locale("/#{ p }")}<>
            = page_title
    - if self.class.development?
      %li{:role => 'tab'}>
        %a{:href => fixed_url_with_locale("/org/login")}<>
          Org
