.logos
  %a{:href => 'http://www.math.univ-toulouse.fr'}<
    %img{:src => fixed_url('/images/logo_offi_imt.jpg'), :alt => '', :title => "IMT", :height => '70px'}
    -# = t 'names.i_m_t'
  %a{:href => 'http://www.univ-tlse3.fr/'}<
    %img{:src => fixed_url('/images/logo_toulouse3.jpg'), :alt => '', :title => "UPS", :height => '70px'}
    -# = t 'names.u_p_s'
  %a{:href => 'http://www.cnrs.fr/insmi/'}<
    %img{:src => fixed_url('/images/CNRSfilaire-grand.jpg'), :alt => '', :title => 'CNRS', :height => '70px'}
    -# = t 'names.g_d_r_tresses'
  %a{:href => 'http://www.cimi.univ-toulouse.fr/'}<
    %img{:src => fixed_url('/images/logo_cimi.jpg'), :alt => '', :title => 'CIMI', :height => '70px'}
    -# = t 'names.g_d_r_tresses'
  %a{:href => 'http://tresses.math.cnrs.fr/'}<
    %img{:src => fixed_url('/images/logo_tresse.png'), :alt => '', :title => 'GDR Tresses', :height => '70px'}
    -# = t 'names.g_d_r_tresses'