.logos
  %a{:href => 'http://www.math.univ-toulouse.fr'}<
    %img{:src => fixed_url('/images/logo_offi_imt.jpg'), :alt => '', :title => t('names.i_m_t'), :height => '70px'}
  %a{:href => 'http://www.univ-tlse3.fr/'}<
    %img{:src => fixed_url('/images/logo_toulouse3.jpg'), :alt => '', :title => t('names.u_p_s'), :height => '70px'}
  %a{:href => 'http://www.cnrs.fr/insmi/'}<
    %img{:src => fixed_url('/images/CNRSfilaire-grand.jpg'), :alt => '', :title => 'CNRS', :height => '70px'}
  %a{:href => 'http://www.cimi.univ-toulouse.fr/'}<
    %img{:src => fixed_url('/images/logo_cimi.jpg'), :alt => '', :title => 'CIMI', :height => '70px'}
  %a{:href => 'http://tresses.math.cnrs.fr/'}<
    %img{:src => fixed_url('/images/logo_tresse.png'), :alt => '', :title => t('names.g_d_r_tresses'), :height => '70px'}
%nav
  %a#link_to_common_home_page{:href => fixed_url("/#{ COMMON_HOME_PAGE }?lang=#{ @locale }")}
    = t 'names.t_s_c_spring_conf'
