@charset "UTF-8";

////
// Sass variables

// $active-tab-bg-color: White;
// $active-tab-text-color: Blue;
// $current-tab-bg-color: DarkBlue;
// $current-tab-text-color: White;

$html-bg-color: #B8CAE1;
$body-bg-color: AliceBlue;
$main-border-color: #527ACC;

$banner-height: 200px;

////
// Sass mixins

// UL as tabs
@mixin tabs {
  margin-left: 0;
  margin-right: 0;
  padding: 0;

  & > li {
    @include tab;
  }
}

@mixin tab {
  display: inline-block;

  & > a {
    @include tab-element;

    &:hover {
      color: White;
      background-color: Blue;
      text-decoration: none;
    }
  }

  & > span {
    @include tab-element;
    border-bottom: none;
  }
}

@mixin tab-element {
  display: inline-block;
  margin: 0 0 5px;
  padding: 5px;
  font-weight: bold;
  @include border-top-radius(8px);
  border: solid 1px $main-border-color;
}

////
// General element styles

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

input[type="number"] {
  text-align: right;
}

button,
input[type="submit"] {
  @include button(Blue);

  margin: 2px;

  &._post_:hover {
    @include button(Purple);
  }

  &._put_:hover, &._delete_:hover {
    @include button(Red);
  }
}

button._get_,
a.button,
a[role=button] {
  @include button(pill, Silver);

  &:hover {
    @include button(pill, Green);
  }
}

fieldset {
  border-radius: 8px;
  border-color: $main-border-color;
}

table {
  width: auto;

  thead {
    th {
      // background-color: transparent;
    }
  }
}

////
// Global element styles

html {
  background: $html-bg-color;
}

body {
  line-height: 1.2;
  background: $body-bg-color;
  border: 2px solid $main-border-color;
  border-radius: 10px;
  font-size: 15px;
  font-family: trebuchet ms, "Helvetica Neue", Arial, Helvetica, sans-serif;
}

////
// Special element styles

.organiser_interface {
  font-size: 12px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  // font-family: "Lucida Console", Monaco, monospace;
}

div#banner {
  @include border-top-radius(8px);
  border-bottom: 1px solid $main-border-color;

  background-color: DimGrey;
  background-image: banner_url(); // custom function defined in some Ruby file
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

div#banner_shade {
  @include border-top-radius(8px);
  background-color: $html-bg-color;
  opacity: 0.65;
  @include transition (opacity 2.0s ease-in-out);

  &:hover {
    opacity: 0;
    @include transition (opacity 2.5s ease-in-out);
  }
}

hgroup#main_heading {
  display: inline-block;
  pointer-events: none;

  h1 {
    color: Cornsilk;//Tomato;
    // text-shadow: black 0.2px 0px 0.2px, black 0px 0.2px 0.2px, black -0.2px 0px 0.2px, black 0px -0.2px 0.2px;
    text-shadow: black 1.5px 1.5px 2px;
    line-height: 1;
    font-size: 3em;
    span { pointer-events: visiblePainted; }
  }

  h2 {
    color: Ivory; // #2DB82D; #00CC00; Cornsilk; #E68A00; MediumSpringGreen;
    text-shadow: black 1.5px 1.5px 1px;
    line-height: 1;
    font-size: 2em;
    span { pointer-events: visiblePainted; }
  }
}

nav#lang_select {
  border-radius: 10px;
  border: solid 2px $main-border-color;
  background-color: $body-bg-color;

  & > ul {
    & > li {
      display: inline-block;

      a.locale, span.locale {
        display: inline-block;
        font-weight: bold;
        border-radius: 8px;
        border: none;
      }

      a.locale {
        &:hover {
          color: White;
          background-color: Blue;
          text-decoration: none;
        }
      }
    }
  }
}

// nav.main_menu > ul.menu {
//   @include tabs;
// }

ul[role=tablist] {
  @include tabs;
}

footer {
  text-align: center;
}

a#link_to_common_home_page {
  display: inline-block;
  margin-top: 3px;
  margin-bottom: 1px;
  padding: 8px;
  border-radius: 8px;
  border: solid 1px $main-border-color;

  background-image: footer_home_button_background_url();
  background-position: center;
  opacity: 0.8;

  font-weight: bold;
  text-shadow: Black 1.5px 1.5px 2px;
  color: Ivory;

  &:hover {
    color: White;
    background-color: Blue;
    text-decoration: none;
    opacity: 1;
  }
}

#form_error_explanation {
  border: 2px solid Firebrick;
  border-radius: 8px;

  h2 {
    background-color: Firebrick;
    color: White;
  }

  ul {
    li {
      list-style: square;
    }
  }
}

button[type="submit"].log_in {
  @include button(shiny, Silver);

  &:hover {
    @include button(shiny, Yellow);
  }
}

#log_out_button {
  @include button(shiny, Silver);
  border-radius: 16px;

  &:hover {
    @include button(shiny, Aqua);
    border-radius: 16px;
  }
}

button[type="submit"] {
  &.create {
    &:hover {
      @include button(Purple);
    }
  }

  &.update,
  &.destroy {
    &:hover {
      @include button(Red);
    }
  }

  &.toggle_on,
  &.toggle_off {
    @include button(pill, Blue);
    border-radius: 3px;

    &:hover {
      @include button(pill, Red);
      border-radius: 3px;
    }
  }

  &.create:before {
    content: "✉";
  }

  &.toggle_on:before {
    content: "✓";
  }

  &.toggle_off:before {
    content: "✕";
  }
}

a.button,
a[role=button] {
  &.new,
  &.edit,
  &.delete,
  &.cancel {
    @include button(pill, Gray);

    &:hover {
      @include button(pill, Black);
    }
  }

  &.cancel {
    &:hover {
      @include button(pill, White);
    }
  }

  &.new:before {
    content: "+";
  }

  &.edit:before {
    content: "✎";
  }

  &.delete:before {
    content: "␡";
  }

  &.cancel:before {
    content: "∅";
  }
}

dd.attribute,
.attribute.value {
  border-radius: 8px;
  padding: 4px;
  background-color: LightGreen;
  color: Black;
}

dd.attribute {
  display: inline-block;
  white-space: pre-wrap;
}

dd.association,
dd.associations,
.associaion.data,
.associations.data {
  // border-radius: 8px;
  // padding: 8px;
  // background-color: LightGray;
}

label.required:after {
  content: "*";
}

// DL-based forms that look like TABLEs
// form > dl.fields {
//   display: table;
//   // width: auto;
//
//   & > div.caption {
//     display: table-caption;
//   }
//
//   & > div.field {
//     display: table-row;
//
//     dt.label {
//       display: table-cell;
//     }
//
//     dd.input {
//       display: table-cell;
//     }
//   }
// }

////
// Presentational styles

.inline {
  display: inline-block;
}

////
// Dynamic styles

input[type=checkbox].style_control:not(:checked) + .hide_if_checkbox_unchecked {
  display: none;
}

////
// Styles for technical info

.technical {
  color: Brown;
}

pre.technical, code.technical {
  white-space: pre-wrap;
  margin: 0;
}

code.technical {
  color: Green;
}

////
// Styles for debugging output

.debug {
  color: Red;
}

pre.debug, code.debug {
  white-space: pre-wrap;
  margin: 0;
}
