@charset "UTF-8";

$html-bg-color: #B8CAE1;

html {
  background: $html-bg-color;
  font-size: 100%;
}

body {
  background: $body-bg-color;
  border: 2px solid $main-border-color;
  @include border-radius(10px);
  font-size: 90%;
  font-family: trebuchet ms, "Helvetica Neue", Arial, Helvetica, sans-serif;
}

// h1 {color:Tomato;padding-top:10px;}
// h1 {color:#5D198E;padding-top:10px;}
// h2 {color:#7D47A5;}

$banner-height: 200px;

div#banner {
  @include border-top-radius(8px);
  border-bottom: 1px solid $main-border-color;

  background-color: DimGrey;
  background-image: banner_url(); // custom function defined in some Ruby file
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

div#banner_shade {
  @include border-top-radius(8px);
  background-color: $html-bg-color;
  opacity: 0.65;
  @include transition (opacity 2.0s ease-in-out);

  &:hover {
    opacity: 0;
    @include transition (opacity 2.5s ease-in-out);
  }
}

hgroup#main_heading {
  display: inline-block;
  pointer-events: none;

  h1 {
    color: Cornsilk;//Tomato;
    // text-shadow: black 0.2px 0px 0.2px, black 0px 0.2px 0.2px, black -0.2px 0px 0.2px, black 0px -0.2px 0.2px;
    text-shadow: black 1.5px 1.5px 2px;
    line-height: 1;
    font-size: 3em;
    span { pointer-events: visiblePainted; }
  }
  h2 {
    color: Ivory; // #2DB82D; #00CC00; Cornsilk; #E68A00; MediumSpringGreen;
    text-shadow: black 1.5px 1.5px 1px;
    line-height: 1;
    font-size: 2em;
    span { pointer-events: visiblePainted; }
  }
}
