@charset "UTF-8";

table.filter {
  border: 1px solid;

  th.filtered {
    background-color: Orange;
  }

  td.field {
    vertical-align: top;

    &.association select {
      font-size: 15px;
    }

    & > * {
      margin: 0;
    }
  }

  td.actions {
    text-align: center;
  }

  &.filtered {
    box-shadow: 0 0 4px 0 Red;
  }

  .filtering_value {
    color: Red;
    background-color: White;
    border: 1px solid Orange;
  }
}
