@charset "UTF-8";

nav.pagination {
  // button.page {
  //   @include button(pill, Blue);
  // }

  .page, .ellipsis {
    padding: 5px 8px;
    margin: 2px;
    font-weight: bold;
  }

  span.page {
    border-width: 1px; // FIXME: this has no effect
    border-radius: 8px;

    &.active {
      background-color: White;
    }
  }
}
