%section
  %h3
    %a{ :href => fixed_url_with_locale("/org/participants/#{ @participant.id }") }<
      %samp
        = @participant.approved? ? '(✓)' : '(—)'
      &= @participant.full_name_with_affiliation

  = haml :'pages/org/participants/_update_form'
