- if @filtering_parameters
  = filtering_form Participant, @filtering_parameters, @filtering_values,
                   :params_key_prefix => 'filter',
                   :hidden_parameters => @view_parameters[:per_page] ? { 'view' => { :per_page => @view_parameters[:per_page] } } : {}

- if @view_parameters
  = paginating_form @view_parameters,
                    :params_key_prefix => 'view',
                    :hidden_parameters => @filtering_values ? { 'filter' => @filtering_values } : {}

%ol
  - @participants.each do |participant|
    %li{ :id => "participant_#{ participant.id }" }
      = haml :'pages/org/participants/_participant_in_index',
             :locals => { :participant => participant }
