%h3= t 'pages.org.login.header'

%form{ :'accept-charset' => 'UTF-8', :method => 'post' }
  %dl.fields
    .field.required
      %dt.label
        %label{ :for => 'username' }
          = t 'pages.org.login.form_labels.username'
      %dd.input
        %input#username{ :type      => 'text',
                         :name      => 'username',
                         :required  => true,
                         :autofocus => true }
      %dt
        .field.required
    .field.required
      %dt.label
        %label{ :for => 'password' }
          = t 'pages.org.login.form_labels.password'
      %dd.input
        %input#password{ :type     => 'password',
                         :name     => 'password',
                         :required => true }
  .actions
    %button.log_in{ :type => 'submit', :name => 'button', :value => 'log_in' }
      = t 'buttons.log_in'
